
.container 
{
    background: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #0000001a;
}

a 
{
    color: black; /* Normal link */
}
a:visited 
{
    color: black; /* Color after visiting the link */
}
a:hover 
{
    color: blue; /* Color when hovering */
    text-decoration: none;
}



a:active 
{
    color: blue; /* Color when the link is being clicked */
}
input 
{
    display: block;
    width: 30%;
    margin-bottom: 10px;
    padding: 8px;
}
button 
{
    width: 30%;
    margin-top: 40px;
    padding: 10px;
    background: rgb(0, 1, 0);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover 
{
    background: darkblue;
}

.project-table 
{
    width: 100%;
    border-collapse: collapse;
}

.project-table th, .project-table td 
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.project-table th 
{
    background-color: #f2f2f2;
    font-weight: bold;
}

.project-table tr:hover 
{
    background-color: #f9f9f9;
}
.navbar 
{
    background-color: #333;
    padding: 10px;
}

.navbar ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: flex;
    gap: 20px;
}

.navbar li 
{
    display: inline;
}

.navbar a 
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover 
{
    text-decoration: underline;
}